<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project Title</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i|Open+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link media="all" rel="stylesheet" href="css/main.css">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<script src="js/jquery-3.2.1.min.js" defer></script>
	<script src="js/main.js" defer></script>
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="top-bar">
				<div class="container">
					<div class="entry-slogan">
						<p>Web Hosting Directory, Reviews & Rankings</p>
					</div>
					<div class="entry-right">
						<ul class="header-links">
							<li><a href="#">Login</a></li>
							<li><a href="#">Register</a></li>
							<li><a href="#">List Company</a></li>
						</ul>
						<ul class="social-networks">
							<li>
								<a href="#" class="social-card-box">
									<div class="social-card">
										<div class="social-card-front">
											<i class="fa fa-twitter"></i>
										</div>
										<div class="social-card-back twitter">
											<i class="fa fa-twitter"></i>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="social-card-box">
									<div class="social-card">
										<div class="social-card-front">
											<i class="fa fa-google"></i>
										</div>
										<div class="social-card-back google">
											<i class="fa fa-google"></i>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="social-card-box">
									<div class="social-card">
										<div class="social-card-front">
											<i  class="fa fa-facebook" ></i>
										</div>
										<div class="social-card-back facebook">
											<i  class="fa fa-facebook" ></i>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="social-card-box">
									<div class="social-card">
										<div class="social-card-front">
											<i class="fa fa-linkedin"></i>
										</div>
										<div class="social-card-back linkedin">
											<i class="fa fa-linkedin"></i>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main-bar">
				<div class="container">
					<div class="logo">
						<a href="#">
							<img src="images/whtips-logo.png" alt="WH Tips" width="140" height="77">
						</a>
					</div>
					<nav class="nav-holder">
						<ul id="nav">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Companies</a>
							</li>
							<li>
								<a href="#">Reviews</a>
							</li>
							<li>
								<a href="#">Rankings</a>
							</li>
							<li>
								<a href="#">Discounts</a>
							</li>
						</ul>
					</nav>
					<div class="popup-holder search-popup">
						<a href="#" class="open">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
						<div class="popup">
							<form action="#" class="search-form">
								<input type="search" placeholder="Hosting Company">
								<button type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
					<div class="burger-wrap">
						<a href="#" class="nav-opener"><span></span></a>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			<section class="hero-section" style="background-image: url('images/bg2.jpg');">
				<div class="container">
					<div class="row">
						<div class="col">
							<h1>#1 Web Hosting Directoy & Reviews Platform</h1>
							<p>WH.TIPS (Web Hosting Tips) is the platform that helps its users in finding Best Web Hosting solution for their websites. We offer our recommendations by collecting reviews from users of the listed web hosting companies and based on the advices from our in house experts!</p>
							<div class="btn-wrap">
								<a class="btn btn-green" href="#" role="button">Browse Hosting Companies</a>
								<a class="btn btn-green" href="#" role="button">Review Your Web Hosting</a>
							</div>
						</div>
						<div class="col">
							<div class="hero-card">
								<div class="image-wrap">
									<img src="images/ab.png" alt="image description" width="80" height="80">
								</div>
								<p>2,473 Listed Companies</p>
								<p>1,000+ Real Reviews</p>
								<p>1 Million+ Reads & Shares</p>
							</div>
						</div>
					</div>
					<div class="hero-bottom">
						<div class="entry-header">
							<h3>Recommended Web Hosting Companies 2019</h3>
						</div>
						<div class="entry-body">
							<ul class="hosting-list">
								<li>
									<div class="hosting-card">
										<span class="cnt"></span>
										<div class="entry-image">
											<img src="images/bluehost.jpg" alt="bluehost">
										</div>
										<ul class="entry-links">
											<li><a href="#">Visit Site</a></li>
											<li><a href="#">Read Reviews</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="hosting-card">
										<span class="cnt"></span>
										<div class="entry-image">
											<img src="images/bluehost.jpg" alt="bluehost">
										</div>
										<ul class="entry-links">
											<li><a href="#">Visit Site</a></li>
											<li><a href="#">Read Reviews</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="hosting-card">
										<span class="cnt"></span>
										<div class="entry-image">
											<img src="images/bluehost.jpg" alt="bluehost">
										</div>
										<ul class="entry-links">
											<li><a href="#">Visit Site</a></li>
											<li><a href="#">Read Reviews</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="hosting-card">
										<span class="cnt"></span>
										<div class="entry-image">
											<img src="images/bluehost.jpg" alt="bluehost">
										</div>
										<ul class="entry-links">
											<li><a href="#">Visit Site</a></li>
											<li><a href="#">Read Reviews</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<header class="section-header">
						<h1>Looking to buy Web Hosting?</h1>
						<p>We have collected the information from different Web Hosting companies to provide you information about the best detals available in the market.</p>
					</header>
					<div class="tab-block">
						<ul class="tabset">
							<li><a href="#tab1" class="active">Tab 1</a></li>
							<li><a href="#tab2">Tab 2</a></li>
							<li><a href="#tab3">Tab 3</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1">Tab 1 Content</div>
							<div id="tab2">Tab 2 Content</div>
							<div id="tab3">Tab 3 Content</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section bg-grey">
				<div class="container">
					<header class="section-header">
						<h1>Recent Reviews Posted</h1>
						<p>Real customer reviews, checked by our team before they are made public</p>
					</header>
					<ul class="reviewbox-list">
						<li>
							<div class="reviewbox-card">
								<header class="entry-header">
									<span>Review by</span>
									<strong>Jawwad Kalia</strong>
								</header>
								<div class="entry-rating">
									<div class="rating">
										<div class="raiting-wrap">
											<svg class="star-full" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<clipPath id="r1">
													<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="black"/>
													<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="black"/>
													<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="black"/>
													<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="black"/>
													<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="black"/>
												</clipPath>
												<g clip-path="url('#r1')">
													<rect fill="#fbaf40" class="r1" x="0" y="0" width="10%" height="100%"/>
												</g>
											</svg>
											<svg class="star-empty" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="#fafafa"/>
												<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="#fafafa"/>
												<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="#fafafa"/>
											</svg>	
										</div>
										<span class="value">5.00</span>
									</div>
									<time datetime="2019-02-11">Febuary 11, 2019</time>
								</div>
								<div class="entry-company">
									<span>About Company</span>
									<strong><a href="#">HostGator</a> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></strong>
								</div>
								<div class="entry-body">
									<h3><a href="#">Worst Company</a></h3>
									<p>As of February 2019, this hosting provider is totally unreliable. Their claim of 24/7 tech support is fraudulent. I have submitted numerous tickets over the course of a week without any resolution or even a response.</p>
									<div class="links">
										<a href="#">Visit Site</a> | 
										<a href="#">Read Reviews</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="reviewbox-card">
								<header class="entry-header">
									<span>Review by</span>
									<strong>Jawwad Kalia</strong>
								</header>
								<div class="entry-rating">
									<div class="rating">
										<div class="raiting-wrap">
											<svg class="star-full" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<clipPath id="r2">
													<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="black"/>
													<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="black"/>
													<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="black"/>
													<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="black"/>
													<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="black"/>
												</clipPath>
												<g clip-path="url('#r2')">
													<rect fill="#fbaf40" class="r1" x="0" y="0" width="66%" height="100%"/>
												</g>
											</svg>
											<svg class="star-empty" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="#fafafa"/>
												<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="#fafafa"/>
												<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="#fafafa"/>
											</svg>	
										</div>
										<span class="value">5.00</span>
									</div>
									<time datetime="2019-02-11">Febuary 11, 2019</time>
								</div>
								<div class="entry-company">
									<span>About Company</span>
									<strong><a href="#">HostGator</a> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></strong>
								</div>
								<div class="entry-body">
									<h3><a href="#">Worst Company</a></h3>
									<p>As of February 2019, this hosting provider is totally unreliable. Their claim of 24/7 tech support is fraudulent. I have submitted numerous tickets over the course of a week without any resolution or even a response.</p>
									<div class="links">
										<a href="#">Visit Site</a> | 
										<a href="#">Read Reviews</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="reviewbox-card">
								<header class="entry-header">
									<span>Review by</span>
									<strong>Jawwad Kalia</strong>
								</header>
								<div class="entry-rating">
									<div class="rating">
										<div class="raiting-wrap">
											<svg class="star-full" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<clipPath id="r3">
													<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="black"/>
													<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="black"/>
													<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="black"/>
													<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="black"/>
													<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="black"/>
												</clipPath>
												<g clip-path="url('#r3')">
													<rect fill="#fbaf40" class="r1" x="0" y="0" width="90%" height="100%"/>
												</g>
											</svg>
											<svg class="star-empty" width="2560" height="512" viewBox="0 0 2560 512" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M512 198.525L335.11 172.821L256 12.53L176.892 172.821L0 198.525L128 323.294L97.784 499.47L256 416.291L414.216 499.47L383.999 323.294L512 198.525V198.525Z" fill="#fafafa"/>
												<path d="M1024 198.995L847.11 173.291L768 13L688.892 173.291L512 198.995L640 323.764L609.784 499.94L768 416.761L926.216 499.94L895.999 323.764L1024 198.995V198.995Z" fill="#fafafa"/>
												<path d="M1536 198.995L1359.11 173.291L1280 13L1200.89 173.291L1024 198.995L1152 323.764L1121.78 499.94L1280 416.761L1438.22 499.94L1408 323.764L1536 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2048 198.995L1871.11 173.291L1792 13L1712.89 173.291L1536 198.995L1664 323.764L1633.78 499.94L1792 416.761L1950.22 499.94L1920 323.764L2048 198.995V198.995Z" fill="#fafafa"/>
												<path d="M2560 198.995L2383.11 173.291L2304 13L2224.89 173.291L2048 198.995L2176 323.764L2145.78 499.94L2304 416.761L2462.22 499.94L2432 323.764L2560 198.995V198.995Z" fill="#fafafa"/>
											</svg>	
										</div>
										<span class="value">5.00</span>
									</div>
									<time datetime="2019-02-11">Febuary 11, 2019</time>
								</div>
								<div class="entry-company">
									<span>About Company</span>
									<strong><a href="#">HostGator</a> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a></strong>
								</div>
								<div class="entry-body">
									<h3><a href="#">Worst Company</a></h3>
									<p>As of February 2019, this hosting provider is totally unreliable. Their claim of 24/7 tech support is fraudulent. I have submitted numerous tickets over the course of a week without any resolution or even a response.</p>
									<div class="links">
										<a href="#">Visit Site</a> | 
										<a href="#">Read Reviews</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="entry-button">
						<a class="btn btn-green" href="#" role="button">Browse All Reviews</a>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<ul class="info-list">
						<li>
							<div class="info-card">
								<h3>Make yourself heard loud!</h3>
								<div class="img-wrap">
									<img src="images/review-icon.png" alt="image description" width="200" height="47">
								</div>
								<p>Drop your experience with Web Hosting Companies and give everyone chance to understand.very review you post help other readers to assess the Web Hosting Companies!</p>
								<a class="btn btn-green" href="#" role="button">Learn how to post review</a>
							</div>
						</li>
						<li>
							<div class="info-card">
								<h3>Make yourself heard loud!</h3>
								<div class="img-wrap">
									<img src="images/review-icon.png" alt="image description" width="200" height="47">
								</div>
								<p>Drop your experience with Web Hosting Companies and give everyone chance to understand.very review you post help other readers to assess the Web Hosting Companies!</p>
								<a class="btn btn-green" href="#" role="button">Learn how to post review</a>
							</div>
						</li>
						<li>
							<div class="info-card">
								<h3>Make yourself heard loud!</h3>
								<div class="img-wrap">
									<img src="images/review-icon.png" alt="image description" width="200" height="47">
								</div>
								<p>Drop your experience with Web Hosting Companies and give everyone chance to understand.very review you post help other readers to assess the Web Hosting Companies!</p>
								<a class="btn btn-green" href="#" role="button">Learn how to post review</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<section class="col">
							<h3>Company</h3>
							<ul class="footer-links">
								<li><a href="#">ABC Link</a></li>
								<li><a href="#">ABC Link</a></li>
								<li><a href="#">ABC Link</a></li>
								<li><a href="#">ABC Link</a></li>
								<li><a href="#">ABC Link</a></li>
							</ul>
						</section>
						<section class="col">
							<h3>Top Web Hosting</h3>
							<ul class="footer-links">
								<li><a href="#">Global Best Hosting Companies</a></li>
								<li><a href="#">Global Best Hosting Companies</a></li>
								<li><a href="#">Global Best Hosting Companies</a></li>
								<li><a href="#">Global Best Hosting Companies</a></li>
								<li><a href="#">Global Best Hosting Companies</a></li>
							</ul>
						</section>
						<div class="col">
							<div class="footer-terms">
								<ul class="footer-links">
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms of Use</a></li>
								</ul>
							</div>
						</div>
						<section class="col">
							<h3>Subscribe</h3>
							<p>Receive hosting coupons, reviews and more</p>
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Full Name">
								<input type="email" placeholder="Email">
								<button type="submit">Sign up</button>
							</form>
						</section>
					</div>
				</div>
			</div>
			<div class="bottom-line">
				<div class="container">
					<div class="copyright-block">
						<p>Copyright &copy; 2019 WH.TIPS | Hosted by <a href="#">ABCHOST.COM</a></p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>