* linguist-vendored
*.php linguist-vendored=false
# * text=auto
# *.js linguist-vendored
# *.html linguist-vendored
# *.HTML linguist-vendored
# *.css linguist-vendored
# *.vue linguist-vendored
# *.php linguist-vendored=false
# CHANGELOG.md export-ignore
